@import './variables.scss';

html,
body,
#__next {
  height: 100%;
}

html {
  font: #{$font-size-root}px $font-family-default;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-gray-lightest;
  margin: 0;
  padding: 0;
  color: $color-black;
  font-size: 2rem;
}

*, *:before, *:after {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

h1,
h3,
h4 {
  margin: 0 0 3rem 0;
  font-family: $font-family-headings;
  font-weight: 900;
  letter-spacing: 0.035em;
}

h1 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.75rem;
  text-transform: uppercase;
  letter-spacing: 0.065em;
}

h4 {
  margin: 2rem 0 1rem 0;
  font-size: inherit;
  font-weight: 700;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin: 0 0 2.5rem 0;
}

a {
  color: $color-purple;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  * {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: $break-tablet) {
  body {
    font-size: 2.25rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.25rem;
  }

  p:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (min-width: $break-desktop) {
  h1 {
    font-size: 5.25rem;
  }

  p:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media (min-width: $break-desktop-large) {
  html {
    font-size: #{$font-size-root + 0.5}px;
  }
}

@media (min-width: $break-desktop-x-large) {
  html {
    font-size: #{$font-size-root + 1}px;
  }
}