@import 'keyframes.scss';
@import 'variables.scss';

.btn {
  background: none;
  width: 100%;
  padding: 0 1.5rem;
  border: 2px solid transparent;
  border-radius: 3px;
  outline: none;
  color: $color-white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1.25em;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: background 0.25s linear;

  &:focus {
    animation: scale 0.2s;
  }

  &[disabled] {
    pointer-events: none;
  }

  * {
    pointer-events: none;
  }
}

.primary {
  background: $color-red;
  height: 7rem;
}

.primary:hover,
.primary:focus {
  background: $color-red-hover;
}

.outline {
  border-color: $color-red;
  height: 7rem;
  color: $color-red;
}

.outline:hover,
.outline:focus {
  border-color: $color-red-hover;
  color: $color-red-hover;
  text-decoration: none;
}

.secondary {
  background: $color-purple;
  height: 5.5rem;
}

.secondary:hover,
.secondary:focus {
  background: $color-purple-hover;
}

.warning {
  background: $color-gray-darkest;
}

.link {
  padding: 0;
  border: none;
  color: $color-purple;
  text-transform: none;
  letter-spacing: 0;
  line-height: inherit;
  display: inline;

  &:hover,
  &:focus {
    text-decoration: underline;
    animation: none;
  }
}

@media (min-width: $break-tablet) {
  .primary {
    height: 8rem;
  }

  .outline {
    height: 8rem;
  }

  .secondary {
    height: 6rem;
  }
}
