@import 'variables.scss';

.container {
  background: $color-white;
}

.content {
  padding: 1.5rem 0;
}

.social {
  display: flex;
}

.socialItem {
  width: 25%;
  border-right: 1px solid $color-gray-light;
  display: flex;
  align-items: stretch;

  &:last-child {
    border: none;
  }
}

.socialLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialTwitter {
  width: 22px;
  height: 18px;
}

.socialPinterest {
  width: 17px;
  height: 21px;
}

.socialGithub {
  width: 22px;
  height: 22px;
}

.socialCodepen {
  width: 26px;
  height: 26px;
}

@media (min-width: $break-tablet) {
  .content {
    max-width: $width-desktop;
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
  }

  .social {
    border-right: 1px solid $color-gray-light;
  }

  .socialItem {
    width: 8.5rem;
    height: 8.5rem;
    position: relative;

    &:before {
      content: " ";
      background: $color-purple;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: width 0.25s ease-out, height 0.25s ease-out, border-radius 0.25s ease-out;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover:before,
    &:focus:before {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  .socialLink {
    color: $color-white;
    z-index: 1;
  }
}